h2{	
    text-align: center;	
    width: auto;	
    margin-left: auto;	
    margin-right: auto;	
}	

label {
    display: block;
    font: 1rem "verdana", sans-serif;
}

input,
label {
    margin: .4rem 0;
}
